/*--GOOGLE FONTS--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');


/*--ROOT--*/
:root {
    --bg-color: #202020;
    --bg-color-2: rgba(18, 18, 18, 0.15);
    --color-dark-gray: #343A40;
    --color-gray: #495057;
    --color-white: #fff;
    --color-dark-blue: #0A3871;
    --color-blue: #356EA9;
    --body-font: 'Inter', sans-serif;
}


/*--BASE--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--color-white);
    width: 100%;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    background: transparent;
    font-family: var(--body-font);
    cursor: text;
}

button {
    border: none;
}

a {
    text-decoration: none;
}


/*--REUSABLE--*/
.section {
    margin: 0 2rem;
}

.panels {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .6rem;
}


/*--NAVBAR--*/
header {
    width: 100%;
    padding: 1.2rem 0;
}

#nav-logo {
    width: 1.5rem;
}


/*--MAIN--*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

/*MAIN LEFT*/
#main-left {
    width: 100%;
}

#write-text {
    width: 100%;
    height: 28rem;
    padding: 0 1.4rem;
    font-size: 1.2em;
    color: var(--color-white);
    font-family: var(--body-font);
}

#write-text::placeholder {
    color: var(--color-white);
}

#exclamacion-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.exclamacion-img {
    width: 16px;
    height: 16px;
}

.exclamacion-text {
    font-size: .8em;
}

#btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.btn {
    width: 8rem;
    height: 2.3rem;
    border-radius: .6rem;
    cursor: pointer;
    transform: .3s all;
    font-family: var(--body-font);
}

.btn:hover {
    transform: scale(1.05);
}

#btn-enc {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

#btn-des {
    background-color: var(--color-white);
    color: var(--bg-color);
}


/*MAIN RIGHT*/
#main-right {
    width: 100%;
}

#rect {
    background-color: var(--color-white);
    border-radius: 1rem;
    height: 35rem;
    justify-content: center;
}

#muñeco {
    width: 14rem;
}

.text1 {
    font-size: 1.2em;
}

.text2 {
    font-size: .8em;
}

#show-result {
    width: 100%;
    cursor: default;
    height: 29rem;
    font-family: var(--body-font);
    font-size: 1.1em;
}

#btn-copiar {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--bg-color);
    gap: .4rem;
    width: 100%;
    padding: 0 1.4rem;
}

.on {
    display: flex;
}

.off {
    display: none;
}


/*--FOOTER--*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
    gap: .4rem;
}

footer p {
    font-size: .9em;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .7rem;
}

.socials-link {
    transition: .3s all;
}

.socials-link:hover {
    transform: scale(1.1);
}


/*--SCROLL BAR--*/
::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color-white);
    border-radius: .5rem;
    transition: 1s;
}


/*--MEDIA QUERIES--*/
@media screen and (min-width: 700px) {
    #write-text {
        padding: 0 3rem;
    }

    .btn {
        width: 10rem;
        height: 2.8rem;
    }

    .part {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: .9rem 0;
    }

    main {
        flex-direction: row;
    }

    #write-text {
        height: 25.5rem;
        font-size: 1.4em;
    }

    #rect {
        height: 32.5rem;
    }

    #show-result {
        height: 26rem;
        font-size: 1.3em;
    }

    footer {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 1440px) {
    header {
        padding: 1.2rem 0;
    }

    #write-text {
        height: 28rem;
        font-size: 1.4em;
    }

    #rect {
        height: 35rem;
    }

    #show-result {
        height: 27rem;
        font-size: 1.3em;
    }
}